<!--Search for chefs by city, style, or name.
<%= form_tag(users_path, :method => 'get') do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
-->

<!-- Jumbotron -->
<div id="spotlight" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Share and sell what you cook at home</h1>
        <h2>How it works</h2>
        <ul class="list-unstyled lead">
          <li class="clearfix"><div class="icon-border pull-left"><span class="glyphicon glyphicon-cutlery"></span></div> Cook delicious food and create a menu of dishes.</li>
          <li class="clearfix"><div class="icon-border pull-left"><span class="glyphicon glyphicon-usd"></span></div> Place your menu items up for sale (if you wish).</li>
          <li class="clearfix"><div class="icon-border pull-left"><span class="glyphicon glyphicon-bullhorn"></span></div> Share dishes with friends and view other's dishes.</li>
        </ul>
      </div>
    </div>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg", onclick: "ga('send', 'event', 'fb_signin', 'click');" %>
  </div>
</div>
<%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

<div class="container">
  <div class="row">
    <!-- WHATS COOKIN? -->
    <div class="col-sm-12-">
      <%= render 'dishes/dish_feed' %>
    </div>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() { 

    $(".jumbotron").backstretch("images/jumbo-bg.jpg");

  //   // Feedback Tab
  //   $('.feedback_link').feedback( {
  //       tabPosition: 'right'
  //   }); 
  
  });
</script>