<!-- Jumbotron -->
<div id="spotlight" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Find home cooked meals in <br> Los Angeles.</h1>
      </div>
    </div>
    <% if signed_in? %>
      <ul class="list-unstyled lead">
        

        <!--<li class="clearfix"> Search for dishes by name, chef, or city.</li>
        <%= form_tag(dishes_path, :method => 'get') do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, onclick: "ga('send', 'event', 'hp_search_dishes', 'click');" %><br><br>
        <% end %> -->
        
      <%= link_to "Browse Dishes", dishes_path, class: "btn btn-primary btn-lg", onclick: "ga('send', 'event', 'hp_dishes', 'click');" %>

      <%= link_to "Go to Profile", current_user, class: "btn btn-primary btn-lg", onclick: "ga('send', 'event', 'hp_profile', 'click');" %>
      </ul>
    <% else %>
      <%= link_to_login_with "Sign up with Facebook", "/auth/facebook", { width: '660', height: '330' } %>
    <% end %>
  </div>
</div>
<%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>



  <script type="text/javascript">
    $(document).ready(function() { 

      $.backstretch('/assets/jumbo-bg.jpg');

    //   // Feedback Tab
    //   $('.feedback_link').feedback( {
    //       tabPosition: 'right'
    //   }); 
    
    });
  </script>