Search for chefs by city, style, or name.
<%= form_tag(users_path, :method => 'get') do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<h2>Get Started</h2>
<ol>
	<li><%= link_to "Add a dish", new_dish_path %> to your online menu when you cook at home.</li>
	<li>Place your menu items up for sale (if you wish).</li>
	<li>Share your dishes with friends.</li>
</ol>

<h2>What's Cookin?</h2>

<%= render 'dishes/dish_feed' %>