<!--Search for chefs by city, style, or name.
<%= form_tag(users_path, :method => 'get') do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
-->

<!-- Jumbotron -->
<div id="spotlight" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Find home cooked meals in your neighborhood.</h1>
      </div>
    </div>
    <% if signed_in? %>
      <%= link_to "Go to my profile", current_user, class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg", onclick: "ga('send', 'event', 'fb_signin', 'click');" %>
    <% end %>
  </div>
</div>
<%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>




  <script type="text/javascript">
    $(document).ready(function() { 

      $.backstretch('/assets/jumbo-bg.jpg');

    //   // Feedback Tab
    //   $('.feedback_link').feedback( {
    //       tabPosition: 'right'
    //   }); 
    
    });
  </script>