<h1>CHEFAPP</h1>

<h2>Who's Cookin?</h2>

<% unless signed_in? %>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %><br><br>
<% end %>

<% @users.each do |user| %>
	<% unless user.dishes.blank? %>
		<%= link_to image_tag(user.avatar(:thumb)), user %>
		<% user.dishes.each do |dish| %>
		  	<%= link_to user.name, user %> cooked up...
			<% if dish = user.dishes.first %>
				<%= dish.name %>
				<%= time_ago_in_words(dish.created_at) %> ago.
				<% break %>
			<% end %>
	   	<% end %><br>
	<% end %>
<% end %>

order user by dish created_at