<h1>CHEFAPP</h1>

<% unless signed_in? %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %><br>
<% end %>

<h2>What's Cookin?</h2>

<% @recent_dishes.each do |dish| %>
	<%= link_to image_tag(dish.user.avatar(:thumb)), dish.user %>
	<%= link_to dish.user.name, dish.user %> cooked up...
	<%= dish.name %>
	<%= time_ago_in_words(dish.created_at) %> ago.<br>
<% end %>
