<h1>Edit your profile</h1>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    Upload a profile picture:
    <div><%= f.file_field :avatar %></div>

    <div><%= f.label :name %></div>
    <%= f.text_field :name %>

    <div><%= f.label :email %></div>
    <%= f.text_field :email %>

    <div><%= f.label :password %></div>
    <%= f.password_field :password %>

    <div><%= f.label :password_confirmation, "Confirmation" %></div>
    <%= f.password_field :password_confirmation %>

    <div><%= f.submit "Submit" %></div>
<% end %>
