<h1>All users</h1>

<% @users.each do |user| %>
  	<%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %> | 
    	<%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  	<% end %><br>

    <%= link_to image_tag(user.avatar(:thumb)), user %>
  	
    <% if user.style? %>
      <div><%= user.style %></div>
    <% end %>

  	<% if user.dishes %>
    	<div><%= user.dishes.count %> dishes cooked</div>
    <% end %><br>

<% end %>