<h1>Sign Up</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user) do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>

    Upload a profile picture:
    <div><%= f.file_field :avatar %></div>

    <div><%= f.label :Username %></div>
    <%= f.text_field :name %>

    <div><%= f.label :email %></div>
    <%= f.text_field :email %>

    <div><%= f.label :city %></div>
    <%= f.text_field :city %>

    <div><%= f.label :password %></div>
    <%= f.password_field :password %>

    <div><%= f.label :password_confirmation, "Confirmation" %></div>
    <%= f.password_field :password_confirmation %>

    <div><%= f.submit "Create my account" %></div>
<% end %>