<h1>Complete your profile</h1>

<%= form_for(@user) do |f| %>
  	<%= render 'shared/error_messages' %>

    <div><%= f.label :city %></div>
    <%= f.text_field :city %>

    <div><%= f.label :style %></div>
    <%= f.text_field :style %>

    <div><%= f.label :signature_dish %></div>
    <%= f.text_field :signature_dish %>

    <div><%= f.submit "Submit" %></div>
<% end %>
