<% content_for :head do %>
		<%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
		<%= tag :meta, property: "fb:admins", content: "3402374" %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Chef " + @user.name %>
		<%= tag :meta, property: "og:description", content: "Check out these homecooked dishes!" %>
	    <%= tag :meta, property: "og:url", content: user_url(@user) %>
	    <%= tag :meta, property: "og:image", content: image_url(@user.avatar(:medium)) %>
<% end %>

<h1>Chef <%= @user.name %></h1>

<%= image_tag @user.avatar.url(:medium) %><br>

City: <%= @user.city %><br>
<% if @user.style.present? %>Style: <%= @user.style %><br><% end %>
<% if @user.signature_dish.present? %>Signature Dish: <%= @user.signature_dish %><br><% end %>

<% if current_user?(@user) %>
	<%= link_to "Complete Your Profile", profile_user_path(@user) %><br>
<% end %> 

<% if @user.dishes.present? %><br>
	MENU
	<% if current_user?(@user) %>
		<%= link_to "Add a dish", new_dish_path %>
	<% end %><br>

	<!--iframe src="//www.facebook.com/plugins/like.php?href=<%= user_url(@user)%> &amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId=779084158783665" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe><br>-->

	<%= render 'users/dishes' %>

<% else %><br>
	<%= @user.name %> hasn't cooked any dishes yet.
	<% if current_user?(@user) %><br>
		<%= link_to "Add a dish", new_dish_path %>
	<% end %>
<% end %>

