<%= @user.name %>
<div>City: <%= @user.city %></div>
<div>Style: <%= @user.style %></div>
<div>Signature Dish: <%= @user.signature_dish %></div>

<% if current_user?(@user) %>
	<%= link_to "Complete Your Profile", profile_user_path(@user) %>
<% end %><br><br>

MENU
<div>
	<% if current_user?(@user) %>
		<%= link_to "Add a dish", new_dish_path %>
	<% end %> 
</div>


<% @dishes.each do |dish| %>
    <br>Name: <%= dish.name %>
    <div>Description: <%= dish.description %></div>
    <div><% if current_user?(@user) %>
    		<%= link_to "Edit", edit_dish_path(dish) %>
    		<%= link_to "Delete", dish, method: :delete, data: {confirm: "You sure? All Associated Photos Will Also Be Deleted" } %></div>
    	<% end %>

	<% dish.assets.each do |asset| %>
		<%= image_tag asset.photo.url(:thumb) %>
		<% if current_user?(@user) %>
			<%= link_to "X", asset, method: :delete, data: {confirm: "Do you know what you're doing?" } %>
		<% end %>
	<% end %>
<% end %>

