<% content_for :head do %>
		<%= tag :meta, property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] %>
		<%= tag :meta, property: "fb:admins", content: "3402374" %>
		<%= tag :meta, property: "og:type", content: "website" %>
		<%= tag :meta, property: "og:title", content: "Chef " + @user.name %>
		<%= tag :meta, property: "og:description", content: "Check out these homecooked dishes!" %>
	    <%= tag :meta, property: "og:url", content: user_url(@user) %>
	    <%= tag :meta, property: "og:image", content: image_url(@user.avatar(:medium)) %>
<% end %>

<!-- Secondary Content -->
  <div id="user-profile" class="container">
    <div class="row">
      <!-- How it Works -->
      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag @user.avatar.url(:medium) %>
          <div class="caption">
            <h3>Chef <%= @user.name %></h3>
            <dl>
              <% if @user.style.present? %>
                <dt>City</dt>
                <dd><%= @user.city %></dd>
              <% end %>
              <% if @user.style.present? %>
	              <dt>Style</dt>
	              <dd><%= @user.style %></dd>
	             <% end %>
	             <% if @user.signature_dish.present? %>
	              <dt>Signature Dish</dt>
	              <dd><%= @user.signature_dish %></dd>
	             <% end %>
            </dl>
            <% if current_user?(@user) %>
				<%= link_to "Complete Your Profile", profile_user_path(@user), class: "btn btn-primary btn-block" %><br>
			<% end %> 
          </div>
        </div>
      </div>
      <!-- Menu -->
      <div class="col-sm-9">
        <% if current_user?(@user) %><br>
        	<% if @user.dishes.present? %><br>
        		<%= link_to "Add a dish", new_dish_path, class: "btn btn-primary btn-lg" %>
        		<%= render 'users/dishes' %>
        	<% else %>
        		<h2><%= @user.name %> hasn't cooked any dishes yet.</h2><br>
        		<%= link_to "Add a dish", new_dish_path, class: "btn btn-primary btn-lg" %>
				
			<% end %>
        <% end %>
      	
      </div> <!-- .col-sm-9 -->
    </div><!-- .row -->
  </div><!-- .container -->

