<%= @user.name %>
<%= @user.email %>

<div>
	<% if current_user?(@user) %>
		<%= link_to "Upload", new_dish_path %>
	<% end %> 
</div>

<% @dishes.each do |dish| %>
  <div>
    <%= link_to dish.name, '#' %>
    <li><%= dish.description %></li>
	<% dish.assets.each do |asset| %>
		<% if asset.photo? %>
			<%= image_tag asset.photo.url(:thumb) %>
		<% end %>
	<% end %>

  </div>
<% end %>

