<h1>Dishes#new</h1>
<p>Find me in app/views/dishes/new.html.erb</p>

<%= form_for(@dish, :html => {:multipart => true} ) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    Give your dish a legendary name:
    <%= f.text_field :name %>

    Be as descriptive as you'd like:
    <%= f.text_field :description %>

    <div>Upload a Photo of Your Dish!</div>

    <%= f.fields_for :assets do |asset| %>
    	<div><%= asset.file_field :photo %></div>
    <% end %>

    <%= f.submit "Submit" %>
<% end %>


