<div id="add-dish" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <%= form_for(@dish, :html => {:multipart => true} ) do |f| %>
            <div id="profile-menu" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title pull-left">Add a dish to your menu</h2>
                </div>
                <div class="panel-body">
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="form-group">
                        <label class="control-label" for="dish_name">Name your dish:</label>
                        <%= f.text_field :name %>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="
                        dish_name">Description:</label>
                        <%= f.text_field :description %>
                    </div>
                    <div class="checkbox">
                        <label>
                          <%= f.check_box :for_sale %> Is this dish for sale? Allow users to contact you.
                        </label>
                    </div>
                    <hr>
                    <p><strong>Most importantly, upload some photos!</strong></p>
                
                    
                    <%= f.fields_for :assets do |asset| %>
                        <%= asset.file_field :photo %>
                    <% end %>
                      
                </div>
                <div class="panel-footer">
                    <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
                </div> 
            </div>
            <% end %>
        </div>
    </div>
</div>