<!DOCTYPE html>
<html>
<head>
  <title>Potatoes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div id="fb-root"></div>

<div><%= render 'layouts/header' %></div>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>

<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-528d57a6207c9a00"></script>

</html>

